<h1 class="centered-title">Bookings</h1>

<div class="bookings-container">
  <h2><%= current_user.first_name %>'s Bookings</h2>
  <div class="booking-cards">
    <% @made_bookings.each do |booking| %>
      <div class="booking-card">
        <h3><%= link_to "Booking Nr.#{booking.id}", booking_path(booking), class: "booking-link" %></h3>
        <p>Animal: <%= booking.animal.name %>, <%= booking.animal.species %></p>
        <p>Start: <%= booking.start_date_time.strftime("%d/%m/%Y, %H:%M") %></p>
        <p>End: <%= booking.end_date_time.strftime("%d/%m/%Y, %H:%M") %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="bookings-container">
  <h2>Animals booked</h2>
  <div class="booking-cards">
    <% current_user.animals.each do |animal| %>
      <% animal.bookings.each do |booking| %>
        <div class="booking-card">
          <h3><%= animal.name %></h3>
          <p>Start: <%= booking.start_date_time.strftime("%d/%m/%Y, %H:%M") %></p>
          <p>End: <%= booking.end_date_time.strftime("%d/%m/%Y, %H:%M") %></p>
          <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
        </div>
        <%# <%= link_to "View my reviews!", booking_reviews_path %>
      <% end %>
    <% end %>
  </div>
</div>
