<p>When would you like to book the animal?</p>

<%= simple_form_for [@animal, @booking] do |f| %>
  <%= f.input :start_date_time, as: :string, label: "Start Date & Time", input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date_time, as: :string, label: "End Date & Time", input_html: { data: { controller: "datepicker" } } %>
  <%= f.hidden_field :animal_id, value: params[:animal_id] %>
  <%= f.button :submit, "Create booking" %>
<% end %>
