<p>When would you like to book the animal?</p>
<%# <%raise%>
<%= simple_form_for [@animal, @booking] do |f| %>
  <%= f.input :start_date_time, as: :datetime, label: "Start Date & Time", input_html: { class: 'form-control' } %>
  <%= f.input :end_date_time, as: :datetime, label: "End Date & Time", input_html: { class: 'form-control' } %>
  <%= f.hidden_field :animal_id, value: params[:animal_id] %>
  <%= f.button :submit, "Create booking" %>
<% end %>
