<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="<%= root_path %>">Rent A Pet</a>

    <!-- Airbnb Style Search Bar in the Center -->
    <div class="search-bar-container mx-auto">
  <%= simple_form_for :search, url: search_path, method: :get, html: { class: 'airbnb-search-bar d-flex align-items-center' } do |f| %>
    <div class="search-item">
      <%= f.input :location, as: :string, input_html: { id: "geocoder", placeholder: "Search destinations", data: { controller: "mapbox-geocoder" } } %>
    </div>
    <div class="divider"></div>
    <div class="search-item">
      <%= f.input :from, as: :string, input_html: { data: { controller: "datepicker" }, id: "checkin", placeholder: "Add dates" } %>
    </div>
    <div class="divider"></div>
    <div class="search-item">
      <%= f.input :to, as: :string, input_html: { data: { controller: "datepicker" }, id: "checkout", placeholder: "Add dates" } %>
    </div>
    <div class="divider"></div>
    <div class="search-item">
      <%= f.input :animal_type, as: :string, placeholder: "Dog", input_html: { id: "animal" } %>
    </div>
    <button type="submit" class="search-button">
      <span class="search-icon">🔍</span>
    </button>
  <% end %>
</div>


    <!-- Profile Dropdown -->
    <div class="dropdown">
      <% if user_signed_in? %>
        <a class="nav-link dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="<%= current_user.avatar || '/placeholder-avatar.jpg' %>" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <li>
            <a class="dropdown-item" href="<%= new_animal_path %>">New Listing</a>
          </li>
          <li>
            <a class="dropdown-item" href="<%= my_listings_path %>">My Listings</a>
          </li>
          <li>
            <a class="dropdown-item" href="<%= bookings_path %>">My Bookings</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "dropdown-item" %>
          </li>
        </ul>
      <% else %>
        <!-- Login/Sign Up Links for Guests -->
        <a class="btn btn-outline-primary me-2" href="<%= new_user_session_path %>">Login</a>
        <a class="btn btn-primary" href="<%= new_user_registration_path %>">Sign Up</a>
      <% end %>
    </div>
  </div>
</nav>
