<!DOCTYPE html>
<html>
  <head>
    <title>RentAPet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <%# dynamic class for banner %>
    <%
      if controller.controller_name == 'animals' && controller.action_name == 'index'
        @banner_class = 'large-banner'
      else
        @banner_class = 'small-banner'
      end
    %>

    <!-- Banner Section: Dynamic Logic for Banner -->
    <div class="banner <%= @banner_class %>">
      <!-- Navbar inside the banner -->
      <div class="navbar-wrapper">
        <%= render 'shared/navbar' %>
      </div>
    </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
